{{ define "body" }}
<div class="links">
    {{ range .Links }}
    <div id="link_{{ .ID }}" class="link" data-controller="links">
        <a href="{{ .URL }}" class="main-link">
            {{ if .Title }}
            {{ .Title }}
        {{ else }}
            {{ .URL }}
            {{ end }}
        </a>
        <br>
        {{ if .Description }}
        <span class="description">{{ .Description }}</span>
        {{ end }}
        <!-- TODO tags -->
        <br>
        <div class="meta-items">
            {{ if not .SavedAt.IsZero }}
            <span class="meta-item">saved {{ .SavedAt.Format "2 Jan, 2006" }}</span>
            {{ end }}
            {{ if .IsRead }}
            <span class="meta-item">read
                {{ if .HasReadDate }}
                {{ .ReadAt.Format "2 Jan, 2006"}}
                {{ end }}
            </span>
            {{ end }}
            <span class="meta-item">edit</span>
            <span class="meta-item">delete</span>
            <span class="meta-item">mark as read</span>
        </div>
    </div>
    {{ end }}
</div>
{{ end }}
