{{ define "body" }}
  <div class="links">
    {{ range .Links }}
      <div id="link_{{ .ID }}"
           class="link link-{{ if not .IsRead }}un{{ end }}read"
           data-controller="links">
        <a href="{{ .URL }}" class="main-link">
          {{ if .Title }}
            {{ .Title }}
          {{ else }}
            {{ .URL }}
          {{ end }}
        </a>
        <span class="muted">({{ .URL.Host }})</span>
        <br>
        {{ if .Description }}
          <span class="description">{{ .Description }}</span>
        {{ end }}
        {{ if .Tags }}
          <br>
          {{ range $k, $v := .Tags }}
            <span class="tag">{{ $k }}</span>
          {{ end }}
        {{ end }}
        <br>
        <div class="meta-items">
          {{ if not .SavedAt.IsZero }}
            <span class="meta-item">saved {{ .SavedAt.Format "2 Jan, 2006" }}</span>
          {{ end }}
          {{ if .IsRead }}
            <span class="meta-item">read
              {{ if .HasReadDate }}
                {{ .ReadAt.Format "2 Jan, 2006"}}
              {{ end }}
            </span>
          {{ end }}
          {{ if $.Authenticated }}
            <a href="/links/{{.ID}}/edit" class="meta-item">edit</a>
            <span class="meta-item">delete</span>
            <span class="meta-item">mark as read</span>
          {{ end }}
        </div>
      </div>
    {{ end }}
  </div>
  <nav class="pagination">
    {{ if gt .CurrentPage 1 }}
      <a href="{{ .RootPath }}/{{ .PrevPage }}">&laquo;</a>
      <a href="{{ .RootPath }}">1</a>
    {{ else }}
      <span>&laquo;</span>
      <span>1</span>
    {{ end }}
    {{ if gt .CurrentPage 2 }}
      <span>…</span>
    {{ end }}
    {{ $curr := .CurrentPage }}
    {{ $path := .RootPath }}
    {{ range $x, $page := .AdjacentPages }}
      {{ if eq $page $curr }}
        <span>{{$page}}</span>
      {{ else }}
        <a href="{{ $path }}/page/{{ $page }}">{{ $page }}</a>
      {{ end }}
    {{ end }}
    {{ if gt .LastPage .NextPage }}
      <span>…</span>
    {{ end }}
    {{ if lt .CurrentPage .LastPage }}
      <a href="{{ .RootPath }}/page/{{ .LastPage }}">{{ .LastPage }}</a>
      <a href="{{ .RootPath }}/{{ .NextPage }}">&raquo;</a>
    {{ else }}
      <span>{{ .LastPage }}</span>
      <span>&raquo;</span>
    {{ end }}
  </nav>
{{ end }}
